html, body, main {
  width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
}

main {
  display: flex;
  flex-direction: row;
}

#sketch-container, control-panel {
  width: 50%;
  height: 100%;
}

