main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#bio-image {
  max-width: min(600px, 90vw);
}

.bio-card {
  max-width: min(800px, 90vw);
  margin-bottom: 120px;
}

.bio-heading {
  font-size: 1.8rem;
}

p {
  margin-bottom: 24px;
  font-family: 'antarctican-mono', sans-serif;
  font-size: 1.1rem;
}

.name-span {
  font-size: 1.4rem;
}

p > a {
  text-decoration: none;
  color: #20759D;
}

p > a:hover {
  color: #50afdb;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

