#picture-bio-twizzler {
  display: flex;
  flex-direction: column;
  gap: var(--md-margin);
}

@media (min-width: 992px) {
  #picture-bio-twizzler {
    flex-direction: row;
    gap: var(--md-margin);
    align-items: center;
  }
}

#bust-image {
  max-height: 65vh;
  width: auto;
  object-fit: contain;
}

