main {
  width: 100vw;
  min-height: 100vh;
  background: #0e0e0e;
}

.project-holder {
  width: 100%;
  max-width: min(90vw, 700px);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 3px;
  border-image: linear-gradient(to left, #bc9eca, #fcfaee) 1;
}

#thank-you-holder {
  margin-top: 40px;
  margin-bottom: 40px;
  /*border-bottom: #bc9eca solid 2px;*/
}

img {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 12px;
  object-fit: contain;
}

h1 {
  color: #fcfaee;
  font-size: 2.2rem;
  font-family: 'Courier Prime';
}

p, a {
  color: #fcfaee;
  font-size: 1.4rem;
  font-family: 'Inconsolata';
  text-decoration: none;
}

a {
  color: #e5c4d6;
}

a:hover {
  color: #bc9eca;
}

