/* layout */

#intro-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 20px;
}

@media (min-width: 992px) {
  #intro-projects-container {
    display: grid;
    grid: 1fr / 40vw 1fr;
    gap: 20px;
    place-items: start;
  }
}

.splash-card {
  margin-bottom: 20px;
  padding: 20px 20px;
  border-radius: 25px;
  border: 4px solid black;
  color: #fcfaee;
  box-shadow: 4px 4px #0e0e0e;
}

.bento-container {
  display: grid;
  max-height: 79vh;
  grid: 1fr 100px / 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

/* introduction card */

@media (min-width: 992px) {
  #introduction-bento {
    position: sticky;
    top: 80px;
  }
}

#introduction-card {
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  padding: 20px;
  color: #fcfaee;
  background: linear-gradient(90deg in oklab, #50afdb, #bc9eca, var(--bs-orange));
  background-size: 600% 100%;
  animation: intro-gradient 6s ease infinite;
}

.bento-link {
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #0e0e0e;
  color: #fcfaee;
  font-family: 'dico-code-one', sans-serif;
  font-weight: 600;
  font-size: min(1.4rem, 18px);
  transition: background 0.3s;
}

.bento-link:hover {
  background: #fcfaee;
  color: #0e0e0e;
}

.white-outline {
  border: 4px solid #fcfaee;
  border-radius: 25px;
  box-shadow: 4px 4px #fcfaee;
}

.black-outline, splash-card {
  border: 4px solid #0e0e0e;
  border-radius: 25px;
  box-shadow: 4px 4px #0e0e0e;
}

.white-outline:hover {
  border: 4px solid #50afdb;
  box-shadow: 4px 4px #50afdb;
}

@keyframes intro-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* projects heading */

#projects-heading {
  background: #50afdb;
}

.cls-1 {
  stroke-dasharray: 355;
  stroke-dashoffset: 355;
  animation: draw 2s ease-in-out;
  animation-fill-mode: forwards;
}

#Layer_2 {
  filter: drop-shadow(2px 2px 2px #0e0e0e);
  z-index: 0;
}

/* projects area */

.project-card {
  display: flex;
  flex-direction: column;
}

.project-title, .project-writeup, .project-image {
  margin-bottom: 20px;
}

.project-title {
  background-color: #50afdb;
}

.project-title, .project-writeup, .project-link {
  border-radius: 8px;
  box-shadow: inherit;
  padding: 2px 8px;
  width: fit-content;
}

.project-image {
  max-height: 60vh;
  max-width: 100%;
  object-fit: contain;
}

.project-link {
  background: #0e0e0e;
  color: #fcfcf8;
  text-decoration: none;
  font-family: "antarctican-mono", sans-serif;
  font-weight: 400;
  border: 1px solid #fcfaee;
  margin-bottom: 10px;
}

.project-link:hover {
  background: #50afdb;
  color: #0e0e0e;
  box-shadow: 4px 4px 0px #bc9eca;
}

/* typography */

#name-heading {
  font-family: "dico-code-one", sans-serif;
  font-weight: 600;
}

#title-heading {
  font-family: "antarctican-mono", sans-serif;
  font-weight: 400;
}

.project-title {
  font-family: "dico-code-one",sans-serif;
  font-weight: 500;
}

.project-writeup {
  font-family: "antarctican-mono",sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

p > a {
  text-decoration: none;
  color: #1f4556;
}

p > a:hover {
  text-decoration: underline;
  color: #fcfaee;
}

