a {
  color: #e5c4d6;
  font-size: 1.4rem;
  text-decoration: none;
}

a:hover {
  color: #bc9eca;
}

p {
  color: #fcfaee;
  font-size: 1.4rem;
}

#name-span {
  font-size: 1.8rem;
}

#waterfall-sketch-container {
  min-height: 50vh;
}

.bio-button {
  color: #fcfaee;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-radius: 6px;
  border-color: #bc9eca;
  font-family: 'Inconsolata';
  font-size: 1.2rem;
  padding: 6px;
  margin: 8px;
}

.bio-button:hover {
  background-color: #bc9eca;
  border-color: #fcfaee;
}

