html, body, main {
  width: 100vw;
  height: 100vh;
  background: rgb(14,14,14);
}

#sketch-container {
  min-width: 50vw;
  height: 100vh;
}

#control-panel {
  min-width: min(100vw, 400px);
  height: 100vh;
  padding-top: 2vh;
}

.slider-title, .slider-label {
  color: #fcfaee;
}

.slider-title {
  font-family: 'Inconsolata';
  font-size: 2rem;
}

.slider {
  width: 70%;
}

.slider-holder {
  min-width: 100%;
}

